*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --primary-color: #ff6c00;
  --secondary-color: #191c26;

  --text-primary: #303030;
  --text-secondary: #9da4bd;
  --text-secondary-lighten: #ffffff;
  --text-primary-lighten: #555555;
}

body {
  font-family: 'Open sans', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
.suptitle-primary {
  color: var(--text-primary);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.suptitle-secondary {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
h2.section-title {
  font-family: raleway;
  color: var(--text-primary);
}
.hero-description {
  color: var(--text-secondary);
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
}
.logo-img {
  margin: 32px;
}
.nav-holder {
  display: flex;
  align-items: center;
}
.nav-box {
  display: flex;
  outline: 2px solid skyblue;
}
.nav-links {
  display: flex;
  background-color: slategrey;
}
a.nav-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--text-secondary-lighten);
  margin-left: 40px;
}
.social-link {
  color: var(--text-primary);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}
a.nav-link:hover,
a.nav-link:focus,
.social-link:hover,
.social-link:focus {
  color: var(--primary-color);
}
div.contacts-block:first-child {
  color: var(--text-primary);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
div.contacts-block {
  background-color: slategrey;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.phone-link {
  text-decoration: none;
  margin-right: 40px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--text-secondary-lighten);
}

p.hero-description {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--text-primary-lighten);
}
.primary-button {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--text-secondary-lighten);
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
  border-radius: 25px;
  padding: 12px 20px;
}
.darken {
  color: var(--text-primary);
}
.price-box {
  display: flex;
}
.price-item {
  display: flex;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--text-secondary);
}
.number-box p {
  font-weight: bold;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  color: var(--text-primary);
}
.number-box span {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--text-primary);
}
